<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align: center">
    <h1>{{ title }}</h1>
    <img src="../assets/angular-frontenders.png" />
</div>
Climate zone:
<select [(ngModel)]="configuration.zone">
    <option
        *ngFor="let x of zones"
        [value]="x.id"
        [selected]="configuration.zone === x.id">
        {{ x.name }}
    </option>
</select>
<br />
Humidity [0-1]:
<input [(ngModel)]="configuration.humidity" /><br />
<button (click)="click()">Execute strategy</button>

<router-outlet></router-outlet>
