<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align: center">
    <h1>
        {{ title }}
    </h1>
    <img src="../assets/angular-frontenders.png" />
</div>
<h2>Uses:</h2>
<ul>
    <li>
        <h2>Original model</h2>
        <pre>{{ originalModel }}</pre>
    </li>
    <li>
        <h2>Modified model</h2>
        <pre>{{ modifiedModel }}</pre>
    </li>
    <li>
        <h2>Restored model</h2>
        <pre>{{ restoredModel }}</pre>
    </li>
</ul>

<router-outlet></router-outlet>
